terraform {
  required_version = "{{ terraform_version }}"
  required_providers {
    # tflint-ignore: terraform_unused_required_providers
    aws = {
      source  = "hashicorp/aws"
      version = "{{ aws_provider_version }}"
    }
  }
}
